@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .nav-items > li:hover {
    color: rgb(212, 145, 21);
  }

  .custom-transition {
    transition-property: height;
    transition-duration: 200ms;
    transition-timing-function: ease-in-out;
  }
}
